.div3{
    
    border:   2px solid black;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#inputNumbers{
    height: 30px;
    width: 41px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainDiv{
    text-align: center;
    overflow: auto;
}