.div3{
    
    border:   2px solid black;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#inputNumbers{
    height: 30px;
    width: 44px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
}

#mainDiv{
    text-align: center;
    overflow: auto;
    position: relative;
    
    font-family: cursive, sans-serif;
    /* height: 600px; */
}
img{
    height: 30px;
    width: 30px;
}
#logo{
    height: 50px;
    width: 50px;
    border-radius: 100%; 
}
#continueStartBtns{
    position: relative;
    top: 10%;

}

#sudokoBody{
    visibility: hidden;
    z-index: 2  ;
    
}
#pauseDiv, #exitDiv , #winDiv{
    z-index: 1;
    visibility: hidden;

    /* position: absolute; */
    /* top: 40%;
    left: 25%; */
    /* bottom: 0; */
}
